/* Declaro variables para colores y fuentes*/
:root{
    --primary-color: #2563eb;
    --secondary-color: #2ecc71;
    --background-color: #f1f5f9;
    --white: #ffffff;
    --text-color: #0f172a;
    --base-font: 'Segoe UI', system-ui, sans-serif;
    --radius: 12px;
    --spacing-base: 1.5rem;
}

/* Reset global para todos los elementos, border-box  hace que el ancho total de la caja incluya el padding y el borde*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*justify-content: space-between para separar el logo de los links*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-base);
}

body {
    font-family: var(--base-font);
    background-color: var(--white);
    color: var(--text-color);
    line-height: 1.6;
}

/* Utilizamos flexbox para el diseño */
.tarjeta-proyecto{
  background: var(--white);
  padding: var(--spacing-base);
  border-radius: var(--radius);
  margin-bottom: var(--spacing-base);
  border: 1px solid #e2e8f0;
  border-left: 5px solid var(--primary-color);
  
  /* Flexbox para alinear contenido */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
}

.tarjeta-proyecto button{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer; 
}

/* Estilo base para el contenedor de proyectos (mobile) */
.contenedor-proyectos{
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: var(--spacing-base); 
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 768px) {
  .contenedor-proyectos{
    grid-template-columns: repeat(2, 1fr);
  }
}
img{
    display: block;
    max-width: 100%;
}