/* Declaro variables para colores y fuentes*/
:root{
    --primary-color: #3b82f6;
    --secondary-color: #2ecc71;
    --background-color: #f5f5f5;
    --text-color: #1f2937;
    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset global para todos los elementos */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--base-font);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
}

/* Utilizamos flexbox para el diseño */
.tarjeta-proyecto{
  background: var(--background-color);
  padding: 1.5rem;
  border-radius: 8px;
  border-left: 5px solid var(--primary-color);
  margin-bottom: 1rem;
  
  /* Flexbox para alinear contenido */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tarjeta-proyecto button{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer; 
}

/* Estilo base para el contenedor de proyectos (mobile) */
.contenedor-proyectos{
  display: grid;
  list-style: none;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 768px) {
  .contenedor-proyectos{
    grid-template-columns: repeat(2, 1fr);
  }
}